{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}


<div class="container">
    <h1>PANIER</h1>

    

    {% if panier|length <= 0 %}

        <div>
        
            <p>Votre panier est vide</p>

        </div>

    {% else %}
        {% set total = 0 %}
        {% for item in panier %}
        {% set total = total + (item.produits.getPrixVente * item.quantité) %}
        <div class="row">

            <img class="mb-5 col-6" style="max-width: 200px; height: 200px;" src="{{asset('images/'~item.produits.getPhoto)}}" alt="{{item.produits.nom}}">
            <div class="mb-5 col-5 card">
        
               <div class="card-body ">
                    <h4 class="card-title">{{item.produits.nom}}</h4>
                    <p class="card-text">
                        {{item.produits.description}}
                    </p>
                    
                    <div class="row count-imput ms-n3">
                        Quantité : 
                        <a href="{{ path('app_panier_decrease', {'produits_id': item.produits.id}) }}" class="btn btn-icon " data-decrement>-</a>
                        <input class="col-5 form-control" type="number" value="{{item.quantité}}" readonly>
                        <a href="{{ path('app_panier_add', {'produits_id': item.produits.id}) }}" class="btn btn-icon " data-increment>+</a>
                    </div>

                    <a href="{{ path('app_panier_remove', {'produits_id': item.produits.id}) }}" class="btn btn-primary">Retirer</a> Prix : {{item.produits.getPrixVente * item.quantité}} €
                    
                </div>
            </div>
        </div>

        

        {% endfor %}
       <div>Total : {{total}} € <a href="/commande" class="btn btn-primary">Commander</a></div> 
        
                    
    {% endif %}
    <div class="pb-5"></div>
    
</div>
{% endblock %}