{% extends 'base.html.twig' %}


{% block title %}Commande{% endblock %}

{% block body %}


<div class="container">



    {% set total = null %}

    {% set total = 0 %}
    {% for item in panier %}
    {% set total = total + (item.produits.getPrixVente * item.quantité) %}
    {% endfor %}
    <h1>Total à payer : {{total}} €</h1>


            <div class="col">
                <label for="adresse_livraison">Adresse de livraison</label>
                <input type="text" class="form-control" name="adresse_livraison" id="adresse_livraison" required>
            </div>

            <div class="col">
                <label for="adresse_facturation">Adresse de facturation</label>
                <input type="text" class="form-control" name="adresse_facturation" id="adresse_facturation" required>
            </div>

            <div class="col">
                <label for="reglement">Mode de paiement</label>
                <input type="text" class="form-control" name="reglement" id="reglement" required>
            </div>

    {{ form_start(form) }}



        {{ form_row(form.total, {'attr': {'value': total }})}}





        
        {{ form_row(form.agreeTerms) }}

        <button type="submit" class="btn-main">Confirmer</button>
    {{ form_end(form) }}
    <div class="mb-5"></div>




</div>
{% endblock %}