{% extends 'base.html.twig' %}

{% block title %}Hello ProduitsController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <div class="container">
        <div class="text font-weight-bold h2 mt-2 d-none d-md-block">Produits :</div>
 
                <div class="row ">

                    {% for produits in produits %}

                        <div class="col-4 mt-3 card"> 
                        {{produits.nom}}
                        <img src="{{asset('images/'~produits.photo)}}" alt="{{produits.nom}}" class="img-fluid img-thumbnail"> 
                        {{produits.description}} <br> 
                        {{produits.prixvente}}€<br>
                        <a href="/panier/add/', {'produits_id': produits.id}) }}" class="btn btn-secondary ">Commander</a>
                        </div>
                       
                    {% endfor %}


                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
